body {
	background-color: #EEE;
	font-family: Calibri, Arial, sens-serif;
}

a {
	text-decoration: none;
}

#header {
	background-color: #d6b0c5;
	color: white;
	text-align: center;
	position: sticky;
	top: 0;
	font-size: 125%;
}

#container {
	background-color: white;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#innerContainer {
	float: right;
	width: 75%;
	align-items: top;
  	justify-content: center;
}

#content0 {
	background-color: white;
	border: 1px solid white;
  	border-radius: .5em;
	display: flex;
  	align-items: top;
  	justify-content: center;
  	padding: 5px;	
}

#text0 {
	padding: 5px;
	float: left;
	border: 1px solid white;
  	border-radius: .5em;
  	background-color: #c6bcd1;	
}

#images0	{
	padding: 5px;
	float: right;
	border: 1px solid white;
  	border-radius: .5em;
	background-color: #c6bcd1;	
}

#content1 {
	background-color: white;
	border: 1px solid white;
  	border-radius: .5em;
	display: flex;
  	align-items: top;
  	justify-content: center;	
  	padding: 5px;
}

#text1 {
	padding: 5px;
	float: left;
	border: 1px solid white;
  	border-radius: .5em;
  	background-color: #c6bcd1;	
}

#images1	{
	padding: 5px;
	float: right;
	border: 1px solid white;
  	border-radius: .5em;
	background-color: #c6bcd1;	
}

#content2 {
	background-color: white;
	border: 1px solid white;
  	border-radius: .5em;
	display: flex;
  	align-items: top;
  	justify-content: center;	
  	padding: 5px;
}

#text2 {
	padding: 5px;
	float: left;
	border: 1px solid white;
  	border-radius: .5em;
  	background-color: #c6bcd1;	
}

#images2	{
	padding: 5px;
	float: right;
	border: 1px solid white;
  	border-radius: .5em;
	background-color: #c6bcd1;	
}

#content3 {
	background-color: white;
	border: 1px solid white;
  	border-radius: .5em;
	display: flex;
  	align-items: top;
  	justify-content: center;	
  	padding: 5px;
}

#text3 {
	padding: 5px;
	float: left;
	border: 1px solid white;
  	border-radius: .5em;
  	background-color: #c6bcd1;	
}

#images3	{
	padding: 5px;
	float: right;
	border: 1px solid white;
  	border-radius: .5em;
	background-color: #c6bcd1;	
}

#sideMenu {
	float: left;
	width: 24%;
  	align-items: top;
  	justify-content: center;

}

#buttonsContainer {
  	background-color: white;
	border: 1px solid white;
  	border-radius: .5em;
	display: flex;
  	align-items: top;
  	justify-content: center;	
  	padding: 5px;
}

#buttons {
	padding-bottom: 1385px;
	border: 1px solid white;
  	border-radius: .5em;
  	background-color: #dbd3db;
  	width: 100%;
  	
  	align-items: top;
  	justify-content: center;
  	display: flex;	
  	font-size: 200%;
  	text-align: center;
  	
  	

}

#buttons ul {
	list-style-type: none;

}

#buttons .selected {
	font-weight: bold;
}

#footer {
	background-color: #d6b0c5;
	text-align: center;
	position: sticky;
  	bottom: 0;
  	height: 30px;
  	clear: both;
  	color: white;

}